---
name: Ubuntu 22.04

on:
  push:
    branches: [master]
    paths-ignores:
      - '**.md'
      - '.github/workflows/linter.yml'
      - '.github/workflows/macos.yml'
      - '.github/workflows/docker-image.yml'
      - '.github/workflows/linux.yml'
      - '.github/workflows/debian*.yml'
      - '.github/workflows/rocky*.yml'
      - 'docs/**'
      - 'docker/**'
  pull_request:
    branches: [master]
jobs:
  Ubuntu22:
    runs-on: ubuntu-latest
    container: ubuntu:22.04
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Install required packages
        run: |
          set -e
          apt update -y
          apt install -y git make sudo bash wget unzip
          ln -snf /usr/share/zoneinfo/America/Los_Angeles /etc/localtime && echo "America/Los_Angeles" > /etc/timezone
          export LC_CTYPE=C.UTF-8
          export LC_ALL=C.UTF-8
          git clone https://github.com/jeonghanlee/pkg_automation
          bash pkg_automation/pkg_automation.bash -y
          git clone https://github.com/jeonghanlee/uldaq-env
          make -C uldaq-env/ github
          git clone https://github.com/jeonghanlee/open62541-env
          make -C open62541-env/ github
      - name: EPICS installation
        run: |
          make init
          make conf
          make vars
          make build
          make install
      - name: EPICS Environment Check
        run: |
          make exist

